* {
	padding: 0px;
	margin: 0px;
	font-family:MyFont;
}

.logo_left img{
	z-index:3;
	position:fixed;
	top: 3px;
	left: 3px;
	width: 80px;
	height: 80px;
	border-radius:50%;
	border:solid 2px #ff336c;
}

.logo_right img{
	z-index:4;
	position:fixed;
	top: 3px;
	right: 3px;
	width: 80px;
	height: 80px;
	border-radius:50%;
	border:solid 2px #ff336c;
}

links {
	z-index:2;
	position: fixed;
	width: 100%;
	height: 90px;
	border-radius:50px;
	display: inline-block;
	background-color: #fff450;
}

ul{
	position:relative;
	top: 30px;
	text-align: center;
}

vCenter {
	position:relative;
	display: inline-block;
	text-align: center;
}

img{
	position:relative;
	top:5px;
	width: 60px;
	height: 100%;
	border-radius: 50%;
}

li {
	position:relative;
	top:-20px;
	background-color: #fff450;
	width: 370px;
	display: inline-block;
	color: #ff336c;
	font-size: 40px;
	border-radius: 30px;
	text-align: center;
	text-overflow: hidden;
}

@font-face{
	font-family: 'MyFont';
	src: url('Perl_files/AmeChanPopMaruTTFLight-Regular.ttf') 
	format('truetype');
}

li:hover {
	width: 380px;
	background-color: #feebec;
	border-radius: 30px;
}

a {
	text-decoration: none;
}


body{
	height:100%;
	border-radius: 20px;
	background-color:#fdddde;
}

main {
	position: relative;
	top: 100px;
	border-radius:20px;
	border-top: solid 10px #f9eeef;
	border-right: solid 10px #f9eeef;
	border-left: solid 10px #f9eeef;
}

.photo{
	position: relative;
	text-align: center;
	top:5px;

}

.photo img{
	width: 500px;
	height: 100%;
	border-radius: 25px;
}

hr{
	position:relative;
	bottom:-15px;
	border:2px red solid;
}

copy{
	position:relative;
	bottom:-17px;
	font-size:15px;
}